.search-input {
  display: flex;
  justify-content: space-between;

  background-color: #f4f6f9;
  padding-bottom: 20px;
  margin: 100px auto 0 auto;
  max-width: 1200px;

  input {
    padding: 12px 10px;
    border: 1px solid #868686;
    border-radius: 4px;
  }

  button {
    padding: 20px;
    background-color: #f9de53;
    color: #000;
    border: unset;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
  }

  @media screen and (max-width: 1280px) {
    width: 900px;
  }
  @media screen and (max-width: 900px) {
    flex-direction: column;
    padding: 0 16px;
    width: 600px;

    button {
      margin: 20px 0;
    }
  }
  @media screen and (max-width: 500px) {
    width: 330px;
    background-color: transparent;
  }
}

.table-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  position: relative;

  overflow-x: auto;

  @media screen and (max-width: 1280px) {
    width: 900px;
  }
  @media screen and (max-width: 900px) {
    width: 600px;
  }
  @media screen and (max-width: 500px) {
    width: 350px;
    background-color: transparent;
  }
}

tbody {
  overflow-x: auto;
  width: 100%;
}

table {
  width: 1200px;
}

.product-table {
  border-collapse: collapse;
}

th,
td {
  padding: 20px 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}

th {
  cursor: pointer;
  background-color: #f2f2f2;
}

.logo-cell {
  width: 100px;
}

.logo-cell img {
  border-radius: 50%;
}

.paginator {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 30px;

  select {
    width: 70px;
    padding: 5px 10px;
    border-radius: 4px;
  }

  @media screen and (max-width: 1280px) {
    width: 840px;
    position: fixed;
  }
  @media screen and (max-width: 900px) {
    width: 540px;
  }
  @media screen and (max-width: 500px) {
    width: 290px;
  }
}

.menu {
  position: relative;
  display: inline-block;

  .menu-trigger {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;

    span {
      display: block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #797979;
      margin-bottom: 4px;
    }
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: -40px;
    display: none;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    @media screen and (max-width: 500px) {
      left: -60px;
    }

    &.open {
      display: block;
      z-index: 10;
    }

    .dropdown-item {
      margin-bottom: 12px;
      font-size: 14px;
      padding: 12px 10px;

      &:hover {
        cursor: pointer;
        background-color: #dadada;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.table-skeleton {
 overflow: hidden;
  .skeleton-row {
    position: relative;
    background-color: #f4f4f4;
    height: 0;
    margin-bottom: 20px;
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to right,
        transparent 0%,
        #e0e0e0 50%,
        transparent 100%
      );
      animation: skeleton-loading 1.5s infinite linear;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .skeleton-cell {
      flex: 1;
      background-color: #e0e0e0;
      height: 10px;
      margin-right: 10px;
      margin-bottom: 10px;
      border-radius: 3px;
    }
  }
}

@keyframes skeleton-loading {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
